{%- assign cats = site.categories | sort: "order" -%}
{%- if page.layout == "recipe" -%}
    {%- assign selcat = page.categories | first -%}
{%- elsif page.layout == "category" -%}
    {%- assign selcat = page.title | downcase | replace: ' ', '-' -%}
{%- endif -%}
<div class="list {% if page.layout == 'index' %}force-disp{% endif %}">
    <a class="head" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    {%- for c in cats -%}
        <a {% if c.slug == selcat %}class='highlight'{%- endif %} href='{{ c.slug | relative_url }}'>{{ c.title }}</a>
    {%- endfor -%}
</div>
