<div class="rec-list {% if page.layout == 'category' %}mob-vis{% endif %}">
    <h2>Recipes</h2>
    {%- if page.layout == "recipe" -%}
        {%- assign cat = page.path | remove: '_recipes/' | split: '/' | first -%}
        {%- assign selrec = page.title -%}
    {%- else -%}
        {%- assign cat = page.title | downcase | replace: ' ', '-' -%}
    {%- endif -%}
    {%- for a in site.recipes -%}
        {%- assign dir = a.path | remove: '_recipes/' | split: '/' | first -%}
        {%- assign alow = a.url -%}
        {%- if dir contains cat -%}
            <a class='{%- if a.title == selrec -%}rec-hl{%- endif -%}' href='{{ a.url }}'>{{ a.title }}</a>
        {%- endif -%}
    {%- endfor -%}
</div>
