<div class="rec-list {% if page.layout == 'category' %}mob-vis{% endif %}">
    {%- if page.layout == "recipe" -%}
        {%- assign cat = page.path | remove: '_recipes/' | split: '/' | first -%}
        {%- assign selrec = page.title -%}
    {%- else -%}
        {%- assign cat = page.slug | downcase | replace: ' ', '-' -%}
    {%- endif -%}
    <h2>
        <a class="only-mob back-arrow" href="{{ '/' | relative_url }}">←</a>
        <span class="no-mob">Recipes</span>
        <span class="only-mob">{{ cat | capitalize }}</span>
    </h2>
    {%- for a in site.recipes -%}
        {%- assign dir = a.path | remove: '_recipes/' | split: '/' | first -%}
        {%- assign alow = a.url -%}
        {%- if dir == cat -%}
            <a {% if a.title == selrec -%}class='rec-hl'{%- endif %} {% unless a.title == selrec -%}href='{{ a.url | relative_url }}'{%- endunless -%}>{{ a.title }}</a>
        {%- endif -%}
    {%- endfor -%}
</div>
