$menu-width: 14rem;
$padding: 12px;
$font: Carlito, Calibri, font;
$bg-color: #F9F3ED;
$hover-color: #e6ded5;
$text-color: #494a4a;

@mixin md {
    @media (min-width: #{768px}) {
        @content;
    }
}

body {
    max-width: 100%;
    font-family: $font;
    color: $text-color;
    margin: 0;
    background-color: $bg-color;
    overflow: initial;
    @include md {
        height: 100vh;
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }
}

a {
    text-decoration: none;
    color: $text-color;
}

p {
    margin: 10px 0;
    padding-left: $padding;
}

a:hover,
.highlight {
    background-color: $hover-color;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 120%;
    margin-bottom: -14px;
}

h3 {
    font-size: 100%;
    margin-bottom: -14px;
}

h1, h2, h3 {
    text-align: center;
    display: block;
    padding: $padding;
    margin-top: 0px;
    @include md {
        text-align: initial;
        width: calc(120vw - 2*(#{$menu-width} + #{$padding}));
    }
}

.head {
    font-size: 150%;
    font-weight: bold;
    margin: 0 16px;
    @include md {
        margin: initial;
    }
}

.list {
    display: none;
    text-align: center;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    @include md {
        flex-basis: 100vw;
        min-width: 100vw;
        text-align: initial;
        display: initial;
        flex-basis: $menu-width;
        min-width: $menu-width;
    }
}

.list > * {
    display: block;
    padding: $padding;
    margin-top: 0px;
}

.content {
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
    @include md {
        padding: 0 $padding;
        display: block;
    }
}

.content > ol,
.content > ul,
.content > p {
    padding-right: $padding;
    @include md {
        width: 40vw;
    }
}

ol > li {
    margin: 8px 0;
}

.force-disp {
    display: initial !important;
}

.hide-mob {
    display: none;
    @include md {
        display: initial;
    }
}

.hide-md {
    display: initial;
    @include md {
        display: none;
    }
}

.back-arrow {
    position: absolute;
    left: 10px;
}

