body {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100vh;
    background-color: #F6F6F6;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}

.cat-list {
    flex-basis: 14rem;
    min-width: 14rem;
    background-color: #d6d6d6;
}

.rec-list {
    flex-basis: 14rem;
    min-width: 14rem;
    background-color: #eeeeee;
}

.content {
    display: block;
    padding: 12px;
    overflow: auto;
}

.content > div {
    width: calc(100vw - 28rem - 24px);
}

.content * {
    width: 40vw;
}

.cat-list > a, .rec-list > a, .home, .rec-list h2 {
    display: block;
    padding: 12px;
}

.cat-list > a:hover, .home:hover {
    background-color: #b7b7b7;
}

.rec-list > a:hover {
    background-color: #cccccc;
}

.cat-hl {
    background-color: #ae93ae;
}

.rec-hl {
    background-color: #c2a4c2;
}
