---
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    {%- assign seo_title = page.title | append: " " | append: '-' | append: " " | append: site.title -%}
    {%- assign seo_title = seo_title | markdownify | strip_html | strip_newlines | escape_once -%}
    <title>{{ seo_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
      {% assign cat = page.title | downcase %}
    {% for a in site.recipes %}
        {% if a.path contains cat %}
            <a href='{{ a.url }}'>{{ a.title }}</a>
            <br>
        {% endif %}
    {% endfor %}
  </body>
</html>
