---
---
<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    {%- if page.title -%}{%- assign sep = ' | ' -%}{%- endif -%}
    {%- assign title = site.title | append: sep | append: page.title -%}
    <title>{{ title }}</title>
    <link rel='shortcut icon' type='image/x-icon' href={{ 'favicon.ico' | relative_url }} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- capture styles %}{% include style.scss %}{% endcapture %}
    <style>{{ styles | scssify }}</style>
  </head>
  <body>
    {{- content -}}
  </body>
</html>
