---
layout: default
---

{%- include cat-list.html -%}
{%- include rec-list.html -%}
<div class="content {% if page.layout == 'recipe' %}mob-vis{% endif %}">
    {%- assign cat = page.path | remove: '_recipes/' | split: '/' | first -%}
    <h2>
        <a class="only-mob" style="float:left;text-align:left;" href="{{ cat | relative_url }}">←</a>
        {{ page.title }}
        {%- if page.source -%}
            {%- if page.source contains "http" -%}
                {%- assign source = page.source -%}
                {%- assign sourcetext = 'source' -%}
            {%- else -%}
                {%- assign sourcetext = "source: " | append: page.source -%}
            {%- endif -%}
            <sub><a {% if source -%}href="{{ source }}"{%- endif -%}>{{ sourcetext }}</a></sub>
        {%- endif -%}
    </h2>
    <div style="clear: both;"></div>
    <p>Yield: {{ page.yield }}</p>
    <p>Time: {{ page.time }}</p>
    {%- if page.notes -%}
        <p>Notes: {{ page.notes }}</p>
    {%- endif -%}
    <h3>Ingredients</h3>
    <ul>
        {%- for i in page.ingredients -%}
            <li>{{ i }}</li>
        {%- endfor -%}
    </ul>
    <h3>Method</h3>
    <ol>
        {%- for m in page.method -%}
            <li>{{ m }}</li>
        {%- endfor -%}
    </ol>
</div>
