---
layout: default
---

{%- include cat-list.html -%}
{%- include rec-list.html -%}
<div class="content {% if page.layout == 'recipe' %}force-disp{% endif %}">
    {%- assign cat = page.path | remove: '_recipes/' | split: '/' | first -%}
    <h1>{{ page.title }}</h1>
    <div style="clear: both;"></div>
    {%- if page.source -%}
        <p>Source: 
        {%- if page.source contains "http" -%}
            {%- assign source = page.source -%}
            {%- assign sourcetext = 'link' -%}
        {%- else -%}
            {%- assign sourcetext = page.source -%}
        {%- endif -%}
        <a {% if source -%}href="{{ source }}"{%- endif -%}> {{ sourcetext }}</a>
        </p>
    {%- endif -%}
    {%- if page.yield -%}
        <p>Yield: {{ page.yield }}</p>
    {%- endif -%}
    <p>Time: {{ page.time }}</p>
    {%- if page.notes -%}
        <p>Notes: {{ page.notes }}</p>
    {%- endif -%}
    <h2>Ingredients</h2>
        {%- for el in page.ingredients -%}
            {%- if el.first -%}
                {%- assign nested = "true" -%}
            {%- endif -%}
        {%- endfor -%}
        {%- if nested == "true" -%}
            {%- for el in page.ingredients -%}
                <h3>{{ el[0] }}</h3>
                <ul>
                {%- for subel in el[1] -%}
                    <li>{{ subel }}</li>
                {%- endfor -%}
                </ul>
            {%- endfor -%}
        {%- else -%}
            <ul>
            {%- for el in page.ingredients -%}
                <li>{{ el }}</li>
            {%- endfor -%}
            </ul>
        {%- endif -%}
    <h2>Method</h2>
        {%- for el in page.method -%}
            {%- if el.first -%}
                {%- assign nested2 = "true" -%}
            {%- endif -%}
        {%- endfor -%}
        {%- if nested2 == "true" -%}
            {%- for el in page.method -%}
                <h3>{{ el[0] }}</h3>
                <ol>
                {%- for subel in el[1] -%}
                    <li>{{ subel }}</li>
                {%- endfor -%}
                </ol>
            {%- endfor -%}
        {%- else -%}
            <ol>
            {%- for el in page.method -%}
                <li>{{ el }}</li>
            {%- endfor -%}
            </ol>
        {%- endif -%}
</div>
